{% extends 'base.html' %}

{% block content %}

<h1>Hi, {{ this_u }}!</h1>

<h1>Recommended 4 u:</h1>
{% for ym in ur_movies %}
<p>{{ym.title}} ({{ym.year}})</p>
<p>Genres: {{ym.genres}}</p>
<p>Plot: {{ym.plot}}</p>
<img src="{{ym.poster}}" alt="">
{% endfor %}
<h1>Here are all your movies</h1>
<h1>Please rate at least 5 movies</h1>
{% for movie in movies %}
<h2>{{movie.title}} ({{movie.year}})</h2>
{{movie.imdb.id}}
{{movie.movie_id}}
<p>Genres: {{movie.genres}}</p>
<p>Plot: {{movie.plot}}</p>
<p>Imdb Rating: {{movie.imdb.rating}}</p>
<img src="{{movie.poster}}" alt="">
{% endfor %}

{% endblock %}