{% extends 'base.html' %} {% block styling %}
<style>
  html,
  body {
    height: 100%;
  }

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: 0.75rem;
  }

  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
  }

  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
  }

  /* Fallback for Edge
-------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }

  /* Fallback for IE
-------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

  .rating-form {
    text-align: center;
    margin-bottom: 16px;
  }

  .poster {
    text-align: center;
  }

  p {
    font-size: 18px;
  }
</style>
{% endblock %}{% block content %}
<div style="margin: 8px;">
  <h3>{{ movie.title }} ({{ movie.year | int }})</h3>
  <div
    class="card col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3"
    style="padding: 2px; margin: auto;"
  >
    <a href="/movies/{{ movie.movie_id }}">
      <img
        style="height: 450px;"
        class="card-img-top"
        src="{{ movie.poster }}"
      />
    </a>
  </div>
  <br />
  <div class="rating-form">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-label-group">
        <input
          style="width: 160px; margin: 0 auto"
          name="score"
          type="text"
          id="score"
          class="form-control"
          placeholder="score"
          required
        />
        <label for="score">Rating (out of 5)</label>
        {% for error in form.score.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <button
        style="text-align: center; margin: 0 auto;"
        name="submit"
        class="btn btn-lg btn-primary"
        type="submit"
      >
        Submit Rating
      </button>
    </form>
  </div>
  <p>
    Genres:
    {{ movie.genres | replace('\'', '') | replace('[', '') | replace(']', '') }}
  </p>
  <p>Plot: {{ movie.plot }}</p>
  <p>
    Starring:
    {{ movie.actors | replace('\'', '') | replace('[', '') | replace(']', '') }}
  </p>
  <p>Directed by {{ movie.director }}</p>
  <p>Imdb Rating: {{ movie.imdb.rating }}</p>
</div>
{% endblock %}
